<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar novo local</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <div id="demo"></div>
    <div id="main" class="addLocalMain">
    <h1>Adicionar Novo Local</h1>
   
    <form action="http://http://187.56.94.86:5000/addLocalAPI" method="POST" enctype="multipart/form-data">
        <table>
            <tr><td style="width: 150px;">
        
        <label for="lat">Latitude</label></td>
        <td><input type="text" name="lat" id="lat"></td>
    </tr>
    <tr>
        <td><label for="lon">Longitude</label></td>
        <td><input type="text" name="lon" id="lon"></td>
    </tr>
    <tr>
        <td>
    <label for="fruta" style="font-size: 25px;">Fruta:</label></td>
    <td>
        <select name="idFruta" id="idFruta">
            {% for item in frutas %}
            <option value="{{item[0]}}""> {{item[1]}}</option>
        {% endfor %}

        </select>
    </td>
    
    <tr>
<td>Observação:</td>
<td><textarea name="obs" id="obs" cols="30" rows="10"></textarea></td>
    </tr>

    </tr>
    <tr><td colspan="2" style="text-align: center;"><br>
        <input type="submit" value="Enviar">
    </td></tr>
        </table>
    </div>

    </form>

</body>
<script src="static/js/getLocation.js"></script>
<script>getLocation()</script>
</html>