<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/imgs/icones/manga.png">
    <title>Mapa das Frutas - Estatisticas</title>
    <link rel="stylesheet" href="../static/css/estilo.css" />
    <link rel="stylesheet" href="../static/css/dropDown.css" />
    <link rel="stylesheet" href="../static/css/universal.css" />
</head>

<!-- CODIGO QUE VERIFICA SE O USUARIO ESTA LOGADO E RESGATA AS INFORMACOES-->
<script>
    {% if usuario %}
    var userId = {{usuario['id']}}  
    var usuario = "{{usuario['usuario']}}"
    var icone = {{usuario['icone']}}
    {% else %}
    var userId = undefined
    var usuario = ""
    var icone = undefined
    {% endif %}  

    var frutasNome = []
    var frutasId = []
    var qtdeFrutas = {{qtdeFrutas}}

    {% if frutas %}
        {% for fruta in frutas %}

            var id = {{fruta[0]}}
            var nome = '{{fruta[1]}}'
    
            frutasNome.push(nome)
            frutasId.push(id)
        {% endfor %}
    {% endif %}  

    var qtdeLocais = {{qtdeLocais}}

</script>

<body style="overflow-y: visible;">
    <!-- CABECALHO -->
    <script src="../static/js/header.js"></script>
    <!-- CABECALHO -->

  <!-- INICIO DO MAIN -->
    <main style="height: 100%; margin: 0; padding: 0; width: 400px;">
        <div style="width: 50%; margin-left: auto; margin-right: auto; color: var(--corTexto)">
            <h1 style="color: orange">ESTATISTICAS</h1>

            <!-- sobre frutas -->
            <script>
                document.write(`
                <p style="font-size: 25px">Neste momento temos: <span style='color: orange'><b>${qtdeFrutas}</b></span> Frutas cadastradas</p>`)

                document.write('<table style="width: 100%; font-size: 20px"><tr>')
                for (var a = 0; a<frutasNome.length ; a++){
                    document.write(`<td style="padding: 5px"> <a href="/verFruta/${frutasId[a]}">${frutasNome[a]} </a></td>`)
                    if(a!=0 && (a+1)%5==0){
                        // console.log(a)
                        document.write('</tr><tr>')
                    }
                }
                document.write('</tr></table>')

            </script>
            <!-- sobre frutas -->
            <br><hr>
            <script>
                document.write(`
                <p style="font-size: 25px">Temos também <span style='color: orange'><b>${qtdeLocais}</b></span> locais de frutas cadastradas</p>`)
            </script>
            

        </div>
    </main>
    


</body>
</html>