<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/css/estilo.css" />
    <link rel="stylesheet" href="../static/css/dropDown.css" />
    <link rel="stylesheet" href="../static/css/universal.css" />
</head>

<!-- CODIGO QUE VERIFICA SE O USUARIO ESTA LOGADO E RESGATA AS INFORMACOES-->
<script>
    var lat = ""
    var lon = ""

    {% if usuario %}
        var userId = {{usuario['id']}}  
        var usuario = "{{usuario['usuario']}}"
        var icone = {{usuario['icone']}}
    {% else %}
        var userId = undefined
        var usuario = ""
        var icone = undefined
    {% endif %}  

    {% if lat %}
        lat = {{lat}}
    {% endif %}

    {% if lon %}
        lon = {{lon}}
    {% endif %}

    if (lat == undefined){
        lat = localStorage.getItem("lat")
    }
    if (lon == undefined){
        lon = localStorage.getItem("lon")
    }

</script>

<body>
    <!-- CABECALHO -->
    <script src="../static/js/header.js"></script>
    <!-- CABECALHO -->

    <main style="height: 100%; margin: auto; padding: 0; text-align: center;">
        <div >
            <h1 style="color: orange">Perfil: {{verPerfil['usuario']}}</h1>

            <img src="../static/imgs/icone_perfil/perfil0{{verPerfil['iconeVerUser']}}.png" alt="" title="Perfil" class="imgPerfil" style="width:  100px;">

            <p>Data de Cadastro : <span style="color: orangered; font-size: 22px;"><b>{{verPerfil['dataInsert']}}</b></span></p> 

            <p>Quantidade de Locais de Frutas Inseridos: <span style="color: orangered; font-size: 22px;"><b>{{verPerfil['qtdeInsert']}}</b></span></p>

            <p>Rede Social (1) <span style="color: orangered; font-size: 22px;"><b>{{verPerfil['redeSocial1']}}</b></span> </p>

            <p>Rede Social (2) <span style="color: orangered; font-size: 22px;"><b>{{verPerfil['redeSocial2']}}</b></span> </p>

            <p>Quantidade de Locais Confirmados: <span style="color: orangered; font-size: 22px;"><b>{{verPerfil['qtdeConfirmacao']}}</b></span></p>

            <p>Quantidade de Locais Rejeitados: <span style="color: orangered; font-size: 22px;"><b>{{verPerfil['qtdeRejeito']}}</b></span></p>

        </div>
    </main>
    
</body>
</html>